.banner {
  transform-style: preserve-3d;
  touch-action: none;
  transition: transform 0s;
  --ratio-x: 0;
  --ratio-y: 0;
}
.iconTransition {
  transition-property: transform;
  transition-duration: 800ms;
  transform-origin: center center;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.svelteIcon {
  position: absolute;
  left: 8rem;
  top: -2rem;
}
.bunIcon {
  position: absolute;
  top: 3rem;
  right: -6rem;
}
.reactIcon[data-hover="true"] {
  transform: scale3d(var(--scale-size), var(--scale-size), 1);
}
.bunIcon[data-hover="true"] {
  transform: translate3d(calc(var(--ratio-x) * 20px), calc(var(--ratio-y) * 20px), 0);
}
.svelteIcon[data-hover="true"] {
  transform: translate3d(calc(var(--ratio-x) * -20px), calc(var(--ratio-y) * -20px), 0);
}

.gradientText {
  animation-name: scrollScale;
  animation-timeline: scroll(root);
  animation-duration: auto;
  animation-timing-function: linear;
  animation-fill-mode: forwards; /* 添加这一行 */
}

@keyframes scrollScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3);
  }
}

.popularContainer {
  display: flex;
  flex-direction: column;
  -webkit-mask: linear-gradient(to bottom, transparent 0%, rgba(29, 31, 34, 0.8) 0%, rgba(29, 31, 34, 0.8) 60%, transparent 100%);
}

.popularList {
  animation-timeline: scroll(root);
  animation-duration: auto;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.popularListLeft {
  animation-name: scrollTranslateLeft;
}
.popularListRight {
  animation-name: scrollTranslateRight;
}
@keyframes scrollTranslateLeft {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(calc(-20% - 50px));
  }
}

@keyframes scrollTranslateRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(20% + 50px));
  }
}
