.banner {
  position: relative;
  transform-style: preserve-3d;
  touch-action: none;
  transition: transform 0s;

  --line: hsl(var(--muted-foreground) / 30%);
}

.banner::before {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background:
    linear-gradient(90deg, var(--line) 1px, transparent 1px 5vmin) 0 -5vmin / 5vmin
      5vmin,
    linear-gradient(var(--line) 1px, transparent 1px 5vmin) 0 -5vmin / 5vmin 5vmin;
  mask: linear-gradient(
    to bottom,
    transparent 0%,
    black 30%,
    black 30%,
    transparent 100%
  );
}

.iconTransition {
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 800ms;
  transition-property: transform;
  transform-origin: center center;
}

.svelteIcon {
  position: absolute;
  top: -2rem;
  left: 8rem;
}

.bunIcon {
  position: absolute;
  top: 3rem;
  right: -6rem;
}

.gradientText {
  animation-name: scrollScale;
  animation-timeline: scroll(root);
  animation-duration: auto;
  animation-timing-function: linear;
  animation-fill-mode: forwards; /* 添加这一行 */
}

@keyframes scrollScale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}

.popularContainer {
  display: flex;
  flex-direction: column;
  mask: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(29 31 34 / 80%) 0%,
    rgb(29 31 34 / 80%) 60%,
    transparent 100%
  );
}

.popularList {
  animation-timeline: scroll(root);
  animation-duration: auto;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.popularListLeft {
  animation-name: scrollTranslateLeft;
}

.popularListRight {
  animation-name: scrollTranslateRight;
}

@keyframes scrollTranslateLeft {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(calc(-20% - 50px));
  }
}

@keyframes scrollTranslateRight {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(20% + 50px));
  }
}
