@import url("github-markdown-css/github-markdown-dark.css");
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 25px;
  background-color: var(--esnext-background);
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.markdown-body a {
  color:  hsl(var(--esnext-primary-500));
}
.markdown-body h1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.markdown-body ul, .markdown-body ol {
  padding-left: 1rem;
}
.markdown-body .highlight pre, .markdown-body pre {
  background-color: unset;
  padding: 0
}
