@import url('github-markdown-css/github-markdown-dark.css');

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  padding: 16px 8px;
  margin: 0 auto;
  color: #000;
  background-color: var(--esnext-background);
}

@media (width <= 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.markdown-body a {
  display: inline-flex;
  color: hsl(var(--esnext-primary-500));
}

.markdown-body img {
  border-radius: 0.25rem;
}

.markdown-body h1 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 1rem;
}

.markdown-body pre,
.markdown-body .highlight pre {
  padding: 0;
  background-color: unset;
}
